body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 80px;
	height: 80px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left {
	padding: 10 0;
}
.body-right {
	padding: 0;
	width: 600px;
	color: black !important;
}
input {
	border: none;
	border-bottom: 2px solid grey;
	font-size: medium;
}
